logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
# Dependencies
node_modules/
dist/
.vite/
build/

# Environment and database
.env
*.db
*.sql~
mysql/
pg_data/
db_data/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor/OS
.vscode/
.idea/
.DS_Store

